<a href="https://colab.research.google.com/github/LorenFiorini/Market-Analysis/blob/main/Cryptocurrency_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
! pip install --upgrade pandas
! pip install --upgrade pandas-datareader

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 18.4 MB/s
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [1]:
import pandas_datareader.data as web
import datetime as dt
import matplotlib.pyplot as plt

In [8]:

df = web.DataReader('BTC-USD', 'yahoo', end='2022-04-22')
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-04-29,1327.199951,1315.209961,1317.839966,1321.790039,422705984,1321.790039
2017-04-30,1347.910034,1314.920044,1321.869995,1347.890015,413115008,1347.890015
2017-05-01,1434.319946,1348.300049,1348.300049,1421.599976,713624000,1421.599976
2017-05-02,1473.900024,1415.689941,1421.030029,1452.819946,477337984,1452.819946
2017-05-03,1492.770020,1447.489990,1453.780029,1490.089966,583795968,1490.089966

In [7]:

df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-04-19,41672.960938,40618.632812,40828.175781,41502.750000,25303206547,41502.750000
2022-04-20,42126.300781,40961.097656,41501.746094,41374.378906,27819532341,41374.378906
2022-04-21,42893.582031,40063.828125,41371.515625,40527.363281,35372786395,40527.363281
2022-04-22,40777.757812,39315.417969,40525.863281,39740.320312,28011716745,39740.320312
2022-04-23,39935.859375,39352.203125,39738.722656,39486.730469,16138021249,39486.730469